{% extends 'base.html' %}

{% block content %}

<br>
<br>
<br>

<div class="container">
       {% for image in images %}

       <div class="row">
        <div class="col m1"></div>
        <div class="col m10">
                <div class="card">
                        <div class="">
                            <div class="row">
                                    <br>
                                    <span class="col m1 "></span>
                                    <span class="col m1 card-title"><i class="fa fa-user-circle"></i></span>
                                    <span class="col m8 card-title"><h6>  {{image.profile}}</h6></span>
                            </div>
                        </div>
                        <div class="card-image">
                          <img src="{{image.image.url}}" alt="">
                          </a>
                        </div>
                        <div class="card-content">
                                <span class=""><i class="fa fa-heart"></i></span><span>  0 </span><span>Likes</span>
                        </div>
                        <div class="card-content">
                                <p><span class="blue-text">{{image.profile}}  </span> {{image.image_caption}}</p>
                                                             
                              
                        </div>
                        <span class="col m2"></span><hr class="col m8"><span class="col m2"></span>
                        <br>
                        <a class="hide-on-large-only" href="">View Comments</a>
                        <div class="card-content hide-on-small-only" 
                                <p><span class="blue-text">Ken  </span> ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis aliquam orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p><span class="blue-text">Chloe  </span> ipsum  nascetur ridiculus mus.</p>
                        </div>
                        <div class="card-action">
                                <div class="row">
                                        <form class="col s12">
                                          <div class="row">
                                            <div class="input-field col s10">
                                              <textarea id="textarea1" class="materialize-textarea"></textarea>
                                              <label for="textarea1">Comment</label>
                                            </div>
                                          </div>
                                        </form>
                                      </div>
                        </div>
                        
                      </div>
        </div>
        <div class="col m1"></div>
       </div>
       

       {% endfor %}
</div>

{% endblock %}