{% extends 'base.html' %}
{% block content%}
<br>
<br>
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col m12 container">
                <i id="avatar" class=" center-align fa fa-user-circle"></i>
                <h4>Weshy</h4>
            </div>
        </div>
            
        <div class="row">
                <div class="col m3">Posts <span>0</span></div>
                <div class="col m3">Followers <span>0</span></div>
                <div class="col m3">Following <span>0</span></div>
                <div class="col m3">
                        <i class="fa fa-cog"></i>
                </div>
        </div>
        <div class="row">
                <a class="waves-effect waves-light btn">Follow</a>
              
        </div>
        
    </div>
{% endblock %}